.parent {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  .div1 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc; /* Gris claro */
    font-size:30px;
  }

  .div2{
    grid-area: 2 / 2 / 3 / 3;
    padding: 20px;
    text-align: center;
  }
  